<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="site title">
            <a href="/">blog ninja</a>
            <p>a net ninja</p>
        </div>
        <ul>
            <li><a href="/"></a></li>
            <li><a href="/about"></a></li>
            <li><a href="/blogs/create"></a></li>
        </ul>
    </nav>
    <div class="about content">
        <h2>about us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, maxime!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, maxime!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, maxime!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, maxime!</p>
    </div>
</body>
</html>